/* HeroesComponent's private CSS styles */
.container {
    display: grid;
    grid-template-columns: 30% 67%;
    grid-template-rows: auto auto;
}

#listView {
    grid-column-start: 1;
    grid-row-start: 2;
}

#detailView {
    border-left: 5px solid #44b6e9;
    grid-column-start: 2;
    grid-row-start: 2;
}

/* CREATE TASK */
#newTask {
    width: 100% !important;
    grid-column-start: 1 !important;
    grid-row-start: 1 !important;
    display: grid !important;
    grid-column-gap: 2%;
}

input {
    max-width: 100% !important;
    grid-column-start: 1 !important;
}

button, .mat-stroked-button, .mat-button-base {
    background: #44b6e9 !important;
    color: white !important;
    grid-column-start: 2 !important;
    height: 50%;
    min-width: 40px !important;
    max-width: 40px !important;
    margin: auto;
    padding: 0 !important;
    font-size: 14px !important;
}

/*LIST */
.taskList {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

::ng-deep .mat-list-item {
    height: 4em !important;
    border-bottom: 1px dashed lightgrey;
}

::ng-deep .mat-list-item:hover {
    background: #F4F6F9 !important;
}

::ng-deep .mat-list-item.selected {
    height: 4em !important;
    background: #f2f5f8 !important;
}

.taskList li div {
    width: 100%;
    margin: auto !important;
}

/*checkboxes on left side */
.leftCheckBox {
    width: 20%;
}

.rightText {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

::ng-deep .mat-checkbox-frame {
    border: 0.5px solid #7d7e84 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #44b6e9 !important;
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #44454a !important;
    font-size: 14px !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #44454a !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #44454a !important;;
}

span, p {
    color: #44454a !important;
}

.title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    color: #44b6e9 !important;
}

.date {
    /*großbuchstaben*/
    font-size: 11px;
    color: #7d7e84 !important;
}

.prio {
    align-self: flex-end;
}